<!-- <div data-ng-controller="historyCtrl" data-ng-init="load()">
        <div class="row search-result" id="resultContent">
                <div class="col-md-4" ng-repeat="history in histories">
                 <div class="thumbnail" ng-click="playVideo(history.video)">
                    <img src="{{history.video.thumbnailUrl}}" alt="Lights" style="width:100%">
                    <div class="caption">
                        <span style="display:block;text-overflow: ellipsis;width: 100%;overflow: hidden; white-space: nowrap;">{{convertDate(history.date_watched)}} - {{history.video.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div> -->