<div ng-controller="videoPlayerCtrl" data-ng-init="loadVideo()" class="video-player">
    <div>
        <video id="videoPlayer" width="640" height="360" controls>
            <source ng-if="videoId != ''  &&  site!=''" ng-src="https://localhost:8090/video/{{site}}/{{videoId}}" type="video/mp4">
        </video>
    </div>

    <div class="description">
        <h3>{{video.name}}</h3>
        <hr>
        <p>
            {{video.description}}
        </p>
    </div>
</div>
<style>
    .video-player {
        /* position: relative; */
        margin-top: 30px;
        margin-left: 30%;
    }

    .description {
        color: white;
        position: relative;

    }
</style>