<div data-ng-controller="searchCtrl" data-ng-init="load()">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">URI</th>
                <th scope="col">Title</th>
                <th scope="col">Authors</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="data in datas">
                <td><a href="{{data.uri}}">
                        <span> {{data.uri}}</span>
                    </a></td>

                <td>{{data.title}}</td>
                <td>{{data.authors}}</td>
                <td>{{data.description}}</td>
            </tr>
        </tbody>
    </table>
</div>